.container{
    border: 5px solid black;
    display:grid;
    justify-content: space-evenly;
    border: 20px;
    grid-template-columns:repeat(3,1fr);
    grid-template-columns:repeat(3,minmax(20px,1fr));

}

.grid-item{
    text-align: center;
    font-size: 30px;
    padding:20px;
    color:black;
    
    
}
.item1{
    background-color:blue;
    padding:9rem;
    font-weight:bold;
    align-items:grid center;
    justify-self: center;
  
}
.item2{
    background-color:yellow;
    padding:4rem;
    font-weight:bold;
    align-items:grid center;
    align-self: end;
    place-self: center;


}
.item3{
    background-color:red;
    padding: 6rem;
    font-weight:bold;
    align-self:start;
    justify-self: end;
}
.item4{
    background-color:orange;
    padding: 2rem;
    font-weight:bold;
    grid-column-start:2;
    justify-self:center;
    align-self:start;
    place-self:center;
    

    

   
   
}
.item5{
    background-color:green;
    padding: 6rem;
    font-weight:bold;
    align-self:center;
    place-self:start;
    grid-row:auto;
    justify-self:end;

   

}
.item6{
    background-color:skyblue;
    padding: 0,5rem;
    font-weight:bold;
    align-items:grid center;
    align-self: end;
    place-self: center;
    justify-self: start;
  
}
.item7{
    background-color:sandybrown;
    padding: 5rem;
    font-weight:bold;
   place-self: start;
    align-self: end;
    justify-self:center;
   
   
}
.item8{
    background-color:olive;
    padding:20px;
    font-weight:bold;
    place-self: center;
    justify-self: start;
    align-self:end;

}
.item9{
    background-color:pink;
    font-weight:bold;
    align-items:center;
    align-items:grid center;
    align-self: end;
    place-self: Start;
    justify-self:center;
    padding:5px;
   

}
body{
    background-color:gray;
}


	



	
